[user]
    email = alexandre.guenot@epita.fr
    name  = Alexandre Guenot

[alias]
    st = status
    sw = switch
    ch = checkout
    history = "!git log --oneline | fzf | cut -d ' ' -f '1'"

    # commit aliases
    ca      = commit -am
    cm      = commit -m
    cammend = commit -v --no-edit --amend
    cfix    = commit --fixup

    # push aliases
    pushwl = push --force-with-lease

    # log aliases
    alog = log --oneline --graph --all --decorate
    tlog = log --oneline --graph --decorate -n 20
    dlog = log --pretty=format:\"%C(yellow)%h%C(reset) %C(black)•%C(reset) %<(50)%s %C(green)(%cr) [%an] %C(auto)%d%C(reset)\" --abbrev-commit -30

[commit]
    verbose = true

[push]
    merge = true

[rebase]
    autoSquash = true
    autoStash  = true

[pull]
    ff = only

[merge]
    tool = fugitive

[mergetool "fugitive"]
    cmd = nvim -f -c '"set nocursorline"' -c '":set wrap"' -c "Gvdiffsplit" "$MERGED"

[core]
    editor   = nvim
    autocrlf = input
    pager    = "less -F -X"

[mergetool]
    keepBackup = false
