* {
    all: unset;
    font-weight: normal;
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
    padding: 0;
    margin: 0;
    min-height: 30px;
}

@import "mocha.css";

tooltip {
    background-color: @surface0;
    border-radius: 5px;
    color: @sapphire;
    border: 1px solid rgba(100, 114, 125, 0.5);
}

window#waybar {
    background-color: shade(@base, 0.9);
    background: @base;
    box-shadow: none;
    border: none;
    min-height: 250px;
}

/* Solid status bar
window#waybar {
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
    background: transparent;
    box-shadow: none;
    border: none;
}*/

.modules-left {
    background-color: @base;
    border-radius: 7px;
    /* margin-left: 5px; */
}

.modules-center {
    background-color: @base;
    border-radius: 7px;
    padding: 0 10px;
}

.modules-right {
    /* margin-right: 5px; */
    background-color: @base;
    border-radius: 7px;
    padding: 0px 5px;
}

.modules-right * {
    padding: 0 10px;
}

#clock {
    color: @lavender;
}

#network {
    color: @red;
}

#backlight {
    color: @peach;
}

#pulseaudio {
    color: @yellow;
}

#cpu {
    color: @rosewater;
}

#battery {
    color: @teal;
}

/*
 * Workspaces settings
 */
#workspaces {
    background-color: @base;
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 1px;
}

#workspaces * {
    margin: 0px 5px;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @surface1;
}

#workspaces button.active {
    color: @sapphire;
}

#workspaces button {
    color: @lavender;
}

#tray menu {
    border: 1px solid alpha(@crust, 0.5);
    border-radius: 7px;
    background-color: @base;
}

#tray menu > * {
    color: @text;
}

#tray menu > *:hover {
    color: @sapphire;
    background: @surface1;
    border-radius: 7px;
}
